<div>
	<table class="table" ng-model="view">
		<tr>
			<th>{{view.title}}</th>
		</tr>
		<tr>
			<td><a ng-href="" ng-repeat="tag in view.tags" ng-click="searchTag(tag)"> #{{tag}} </a></td>
		</tr>
		<tr>
			<td style="white-space: pre-line">
				<span ng-bind-html="view.text | marked"></span>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<button type="button" class="btn" ng-click="edit()">編集</button>
				<button type="button" class="btn" ng-click="delete()">削除</button>
			</td>
		</tr>
	</table>

</div>
