<div id="detail">
	<button type="button" class="btn" ng-click="edit()">編集</button>
	<button type="button" class="btn" ng-click="delete()">削除</button>
	<div id="title">
		<p id="title">{{view.title}}</p>
	</div>
	<div id="tag" class="panel">
		<a ng-href="" ng-repeat="tag in view.tags" ng-click="searchTag(tag)"> #{{tag}} </a>
  </div>
	<script>
		$(function(){
			$("#text").on('click', 'a', (event) => {
				window.open(event.target.href,'_brank')
				return false;
			})
		})
	</script>
	<div id="text" class="panel" ng-bind-html="view.text | marked">
	</div>

</div>
