<script>
$(function () {
	$('textarea').bind('mouseup', () => {
		var height = $('textarea').css('height')
		console.log(height)
		$('#preview').css('height', height)
	});
});
</script>
<div>
	<table class="table" ng-model="recordForm">
		<tr>
			<th width="30px;">TITLE</th>
			<td>
				<input type="hidden" ng-value="record.noteId" required/>
				<input type="text" class="form-control" ng-model="record.title" required="required" placeholder="タイトルは必須入力です"/>
	    </td>
		</tr>
		<tr>
			<th>TAG</th>
			<td>
				<input type="text" class="form-control" ng-model="record.tags" placeholder="タグはカンマ区切りで複数登録できます"/>
	    </td>
		</tr>
		<tr>
			<th>TEXT</th>
			<td>
				<div>
					<div style="float:left">
  					<textarea id="note_text" class="form-control" ng-model="record.text" required="required"  placeholder="テキストはマークダウンで記載できます"></textarea>
					</div>
					<div id="preview" style="overflow:auto" class="panel panel-default" ng-bind-html="record.text | marked"></div>
				</div>
			</td>
		</tr>
		<tr>
			<th>FILE</th>
			<td>
				<input id="lefile" type="file" style="display:none">
				<div class="input-group">
				  <input type="text" id="photoCover" class="form-control" placeholder="select file...">
				  <span class="input-group-btn"><button type="button" class="btn" onclick="$('input&#91;id=lefile&#93;').click();">Browse</button></span>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="">
				<button type="button" class="btn" ng-click="submit()">登録</button>
			</td>
		</tr>
	</table>
</div>
