<script>
$(function () {
	$('textarea').bind('mouseup', () => {
		var height = $('textarea').css('height')
		console.log(height)
		$('#preview').css('height', height)
	});
	$("#preview").on('click', 'a', (event) => {
		window.open(event.target.href,'_brank')
		return false;
	})
})
</script>

</script>
<div id="record">
	<button type="button" class="btn" ng-click="submit()">登録</button>
	<input type="hidden" ng-value="record.noteId" required/>
	<div id="title">
		<p>Title</p>
		<input type="text" class="form-control" ng-model="record.title" required="required" placeholder="タイトルは必須入力です"/>
	</div>
	<div id="tag">
		<p>Tag</p>
		<input type="text" class="form-control" ng-model="record.tags" placeholder="タグはカンマ区切りで複数登録できます"/>
	</div>
	<div id="text">
		<p>Text</p>
		<div id="input">
  		<textarea class="form-control" ng-model="record.text" required="required" placeholder="テキストはマークダウンで記載できます"></textarea>
		</div>
		<div id="preview" ng-bind-html="record.text | marked"></div>
	</div>

</div>
