#wrapper {
  width: 100%;
  height:100%;
}
#header {
  margin: 5px;
  width: 90%;
}

li.tag:before {
  content: '　';
  display: inline-block;
  position: relative;
  background-color: #A0A0A0;
  -webkit-transform: rotate(45deg);
  margin-left: -12px;
  margin-top: 3px;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  z-index: 0;
}

li.tag {
  display: inline-block;
  position: relative;
  background-color: #D8D8D8;
  margin-top: 10px;
  margin-left: 20px;
  padding-left: 5px;
  z-index: 1;
}

#closeTag {
  background-color: #494747;
  padding-left: 3px;
  padding-right: 3px;
  width: 20px;
  color: #ffffff;
}

#list {
  float: left;
  width: 22%;
  height:88vh;
  overflow-y: scroll;
  background-color: #ffffff;
}

#list_open {
  height: 60px;
  width: 20px;
  background: #666;
  padding:5px;
  float: left;
  margin-top: 300px;
  color:#fff;
}

#content {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  float : left;
  width : 75%;
}

#content.list_open {
  width:95%;
}

#list {
  display: block;
}
#list.close {
  display: none;
}

#list a {
  height:90px;
}
#list #title {
  font-size: 18px;
}
#list #tag {
  font-size: 14px;
  display: inline;
}

#detail {
}
#detail #title {
  font-size: 28px;
}
#detail #tag {
  height: 40px;
  font-size: 18px;
}
#detail #text {
  padding-bottom: 20px;
  font-size: 16px;
}

#record {
}
#record #title {
  margin-bottom:10px;
  font-size: 26px;
}
#record #tag {
  margin-bottom:10px;
  font-size: 26px;
}
#record #text {
  font-size: 26px;
}
#record #text #input {
  float: left;
  font-size: 26px;
  margin-right: 10px;
  width: 50%;
  height: 100%;
}
#record #text #preview {
  background-color: #fdfdfd;
  font-size: 14px;
  float: none;
  overflow: scroll;
  min-height: 400px;
  min-width: 340px;
}

#record #text textarea {
  min-height: 400px;
  min-width: 340px;
}

.btnArea {
  position: absolute;
  right: 40px;
}
.btn {
  padding: 10px;
}
